.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.menulist {
    display: center;
    text-align: center;
    margin: 75px;
    padding: 10px;
}
.menulist li {
    display: inline; /* Отображать как строчный элемент */
    list-style:none;
    border:3px solid #0000FF;
    margin:15px;
    padding:10px;
}

.btn:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.btn:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.regsys {
   display: center;
   list-style:none;
   text-align:center;
   font-family: 'Roboto';
   font-style:normal;
   font-size: 20px;
}
.regsys li {
  list-style:none;
  display: inline-block;
  text-align:center;
  border:3px solid #0000FF;
  
}

.auth{

}
  

.hr { 
	width:90%;
 	margin:10px;
	border:none; 
	height:1px; 
	background:#ccc; }

.text p {
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	border: 1px solid #ccc;
	border-radius: 25px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;

}

.modules {
        display: flex;
        justify-content: center;
        text-align: center;
        
}

footer {
	padding:20px;
	color:#FFFFFF;
	height:20px;
	background: #65a9d7;
	margin-top:20px;
}
.footer_date {
	text-align: left;
}
.footer_name {
	text-align: right;
	padding-bottom: 10px;
}
-------------------------------------------------------------------
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}





