.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menulist {
    display: center;
    text-align: center;
    margin: 75px;
    padding: 10px;
}

.menulist a{
    color:#0000FF;
    text-decoration: none;
    margin: 0px;
    padding: 10px 20px; 
    border:3px solid #0000FF;
}

.menulist li {
    display: inline; /* Отображать как строчный элемент */
    list-style:none;
    
    margin:0px;
    padding:5px;
    color: #000000;
}

.menulist li a:hover {
   background: #0000FF;
   color: #FFFFFF;
}

.menulist li a:active {
   background: #0000FF;
   color: #FFFFFF;
}


.modules {
        display: flex;
        justify-content: center;
        text-align: center;       
}

footer {
	padding:20px;
	color:#FFFFFF;
	height:20px;
	background: #65a9d7;
	margin-top:20px;
}

.footer_date {
	text-align: left;
}

.footer_name {
	text-align: right;
	padding-bottom: 10px;
}








