.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menulist {
    display: center;
    text-align: center;
    margin: 75px;
    padding: 10px;
}

.menulist a{
    color:#0000FF;
    text-decoration: none;
    padding: 13px; 
}

.menulist li {
    display: inline; /* Отображать как строчный элемент */
    list-style:none;
    border:3px solid #0000FF;
    margin:5px;
    padding:10px;
    color: #000000;
}

.menulist li:hover, .menulist li a:hover {
   background: #0000FF;
   color: #FFFFFF;
}

.menulist li a:active {
   background: #0000FF;
   color: #FFFFFF;
}

.regsys {
   display: center;
   list-style:none;
   text-align:center;
   font-family: 'Roboto';
   font-style:normal;
   font-size: 20px;
}

.regsys li {
  list-style:none;
  display: inline-block;
  text-align:center;
  border:3px solid #0000FF;  
}

.auth p, .auth h1{
  font-family:'Roboto';
  color: #0000FF; 
}

.login, .pass{
  border: 0.5px solid #0000FF
}

.modules {
        display: flex;
        justify-content: center;
        text-align: center;       
}

footer {
	padding:20px;
	color:#FFFFFF;
	height:20px;
	background: #65a9d7;
	margin-top:20px;
}

.footer_date {
	text-align: left;
}

.footer_name {
	text-align: right;
	padding-bottom: 10px;
}

body {
  line-height: 1;
}







